{% extends 'themes/base_admin.html.twig' %}

{% block title %}Liste des Commandes{% endblock %}

{% block description %}Liste des Commandes{% endblock %}

{% block keywords %}Admin, liste, commandes{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block datatables %}
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#table').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.7/i18n/fr-FR.json',
                },
            });
        } );
    </script>
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des Commandes<hr></h1>

    {% include 'components/_alert.html.twig' %}

    <div class="table-responsive">
        <table id="table" class="table table-hover text-center table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Commanditaire</th>
                    <th>Satut</th>
                    <th>Montant Total</th>
                    <th>Commandé le</th>
                    <th>Modifié le</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.user.email}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.totalAmount}}</td>
                        <td>{{order.orderedAt|format_datetime()}}</td>
                        <td>{{order.updatedAt|format_datetime()}}</td>
                        <td class="d-flex justify-content-evenly">
                            {% if order.status != "commande validée" %}
                                <a href="{{path('admin_order_status_edit', {'id':order.id})}}" type="submit" value="Modifier"><i class="fa-solid fa-edit"></i></a>
                                <form action="{{path('admin_order_delete', {'id':order.id})}}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_csrf_token" value="{{csrf_token('delete_order_'~order.id)}}">
                                    <button onClick="return confirm('Confirmer la suppression?')" type="submit" value="Supprimer" style="border: none; background: none; padding: 0; color: #ff0000">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}