{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Produits{% endblock %}

{% block description %}Produits{% endblock %}

{% block keywords %}Produits, catalog{% endblock %}

{% block main %}

    <h1 class="text-center my-3 display-5">Produits</h1>
 
    <div class="container my-3">
        <div class="row">
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catégories
                    </button>
                    <ul class="dropdown-menu">
                 
                        {% for category in categories %} {# boucle qui itère à travers chaque élément de la liste categories. À chaque itération, la variable category contiendra une catégorie de la liste, et le contenu à l'intérieur de la boucle sera exécuté pour chaque catégorie de la liste #}
                            <li><a class="dropdown-item" href="{{path('visitor_filter_product_by_category', {'id':category.id, 'slug': category.slug})}}">{{category.name}} ({{category.products|length}})</a></li> 
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                {% for row in products|batch(3) %} {# La fonction batch(3) divise la liste products en sous-listes contenant chacune au maximum 3 éléments. Ensuite, la boucle for itère sur chaque sous-liste créée par la fonction batch(3). À chaque itération, la variable row contient une sous-liste de 3 éléments ou moins (dans le cas où il reste moins de 3 éléments à la fin de la liste products). #}
                    <div class="row">
                        {% for product in row %}
                            <div class="col-md-4 my-3">
                                <div class="card">
                                    <a href="{{path('visitor_catalog_product_show', {'id': product.id, 'slug': product.slug})}}">
                                        <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="img text-center rounded-2 w-100 h-100" alt="{{ product.name }}">
                                    </a>
                                    <div class="card-body">
                                        <a class="text-decoration-none" href="{{path('visitor_catalog_product_show', {'id': product.id, 'slug': product.slug})}}">
                                            <h2 class="card-title text-center mb-4" style="color: #C59B76; font-family: Dancing Script, cursive;">{{ product.name }}</h2>
                                        </a>
                                        <p class="card-subtitle text-dark fw-bold fs-5 text-end my-3">{{ product.price }}€</p>
                                        <p class="card-text text-center">
                                            <a href="" class="cart btn btn-sm"><i class="fa-solid fa-cart-shopping fs-2 bg-transparent p-2" style="border: 1px solid black"></i></a>
                                            <a href="{{path('visitor_catalog_product_show', {'id': product.id, 'slug': product.slug})}}" class="detail btn btn-sm"><i class="fa-solid fa-eye fs-2 bg-transparent p-2" style="border: 1px solid black"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
 
{% endblock %}
