{% extends 'themes/base_visitor.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block description %}{{ product.name }}{% endblock %}

{% block keywords %}Produits, catalog{% endblock %}

{% block main %}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-5 text-center mt-5">
                {# Vérifie si le produit a une image. Si oui (?), utilise l'image du produit. Sinon, (:) utilise une image par défaut. La fonction vich_uploader_asset est utilisée pour obtenir le chemin vers un fichier téléchargé avec VichUploaderBundle, un bundle de Symfony qui facilite la gestion des fichiers uploadés. #}
                <img src="{{ product.image ? vich_uploader_asset(product, 'imageFile') : asset('images/default-image.jpg') }}"class="img-fluid" style="width: 100%; max-width: 500px; height: auto" alt="{{ product.name }}">
                {# Bouton pour lire la description du produit #}
                <button onClick="readDescription('{{ product.name }}', '{{ product.description }}', '{{ product.price }}')" class="btn btn-sm my-3" style="background-color: #C59B76">Lire la description</button>
            </div>
            <div class="col-md-7 text-center my-3">
                <h1 class="my-5">{{ product.name }}</h1>
                <p>
                    {% for category in product %} {# La boucle for affiche le nom d'une catégorie de la liste des catégories associées à ce produit. #}
                        {{category.name}}
                    {% endfor %}
                </p>
                <p class="fs-5"><strong>Prix :</strong> {{ product.price }} €</p>
                <div class="fs-5">
                    <strong>Description :</strong>
                </div>
                    <p>{{ product.description }}</p>
                    <a href="{{path('visitor_add_cart', {'id':product.id})}}" class="btn btn-sm my-3" style="background-color: #C59B76">Ajouter au panier</a>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row d-flex justify-content-center align-items-center mx-auto">
            <div class="col-md-6">
            {% if app.user %}
                <div class="my-5">
                    {{form_start(form)}}
                        <div class="mb-3">
                            <label for="review_form_content" class="my-1 fs-5"><strong>Laissez vos commentaires</strong></label>
                            <div class="text-danger">{{form_errors(form.content)}}</div>
                            {{ form_widget(form.content, {'attr': {'class':'form-control', 'rows': 4}}) }}
                        </div>
                        <div>
                            <input formnovalidate type="submit" class="btn btn-secondary" value="Envoyer">
                        </div>
                    {{form_end(form)}}
                </div>
            {% else %}
                <p class="text-center my-5">Veuillez vous <a href="{{path('visitor_authentication_login')}}" class="text-decoration-none">connecter</a>  ou vous <a href="{{path('visitor_registration_register')}}"class="text-decoration-none">inscrire</a> pour poivoir laisser un commentaire.</p>
            {% endif %}
            </div>
        </div>    
    </div>

    <div class="container my-5"> 
        <div class="row">
            {% if product.reviews|length > 0 %}  {# Cette ligne vérifie s'il y a des avis associées au produit en vérifiant la longueur de la collection product.reviews. Si la longueur est supérieure à zéro, cela signifie qu'il y a des avis et le contenu à l'intérieur de ce bloc if sera exécuté. #}
                {% for review in product.reviews %} {# Cette boucle for itère sur chaque critique dans la collection product.reviews. #}
                    <div class="col-md-6">
                        <div class="review bg-light text-dark ">
                            <h2 class="comment_name">{{review.user.firstName}} {{review.user.lastName}}</h2>
                            <p>{{review.content}}</p>
                            <p class="text-end my-2">{{review.createdAt|format_datetime()}}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


    {# Script pour la lecture vocale des descriptions de produits via l'API Web Speech #}
    <script>
        function readDescription(name, description, price) {
            const speech = new SpeechSynthesisUtterance();
            speech.text = `Produit: ${name}. Description: ${description}. Prix: ${price} euros`;
            speech.lang = 'fr-FR';
            speech.volume = 1;
            speech.rate = 1;
            speech.pitch = 1;
            window.speechSynthesis.speak(speech);
        }
    </script>

{% endblock %}