{% extends 'themes/base_admin.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block description %}Nouveau Produit{% endblock %}

{% block keywords %}Liste, produits, admin{% endblock %}

{% block main %}

    <h1 class="text-center my-3 display-5">Nouveau Produit</h1>

     <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{form_start(form)}}
                    <div class="mb-3">
                        <label for="admin_product_form_name">Nom<span class="text-danger">*</span></label>
                        <div class="text-danger">{{form_errors(form.name)}}</div>
                        {{form_widget(form.name, {'attr':{'class':'form-control', 'autofocus':'autofocus'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="admin_product_form_category">Catégorie<span class="text-danger">*</span></label>
                        <div class="text-danger">{{form_errors(form.category)}}</div>
                        {{form_widget(form.category, {'attr':{'class':'form-control'}})}} {# form_widget C'est une fonction Twig qui permet d'afficher le champ d'un formulaire dans la page web. Elle génère le code HTML nécessaire pour rendre ce champ utilisable et visible par l'utilisateur #}
                    </div>
                    <div class="mb-3">
                        <label for="admin_product_form_imageFile_file">Image</label>
                         <div class="text-danger">{{form_errors(form.imageFile)}}</div>
                        {{form_widget(form.imageFile, {'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="admin_product_form_price">Prix<span class="text-danger">*</span></label>
                        <div class="text-danger">{{form_errors(form.price)}}</div>
                        <div class="input-group">
                            {{form_widget(form.price, {'attr':{'class':'form-control'}})}}
                            <span class="input-group-text">€</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="admin_product_form_description">Description<span class="text-danger">*</span></label>
                        <div class="text-danger">{{form_errors(form.description)}}</div>
                        {{form_widget(form.description, {'attr':{'class':'form-control', 'rows': 6}})}}
                    </div>
                    <div class="mb-3 d-flex justify-content-center align-items-center">
                        <input formnovalidate type="submit" class="btn btn-dark shadow w-50" value="Créer">
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>

{% endblock %}
