{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modifier ce Produit{% endblock %}

{% block description %}Modifier ce Produit{% endblock %}

{% block keywords %}Modifier, produits, admin{% endblock %}

{% block main %}

    <h1 class="text-center my-3 display-5">Modifier un Produit</h1>

    <div class="container mt-5">
        <div class="row">
             <div class="col-lg-9 mx-auto">
                {{form_start(form)}}
                    <div class="mb-3">
                        <label for="admin_product_form_name">Nom</label>
                        <div class="text-danger">{{form_errors(form.name)}}</div>
                        {{form_widget(form.name, {'attr':{'class':'form-control', 'autofocus':'autofocus'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="admin_produit_form_category">Catégorie</label>
                        <div class="text-danger">{{form_errors(form.category)}}</div>
                        {{form_widget(form.category, {'attr': {'class':'form-control'}})}}
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                         {# Image #}
                            <label>Image actuelle</label>
                            {% if product.image %}
                                <img width="160" height="160" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}">
                            {% else %}
                                <label><i class="fa-solid fa-circle-exclamation"></i> Aucune image actuelle</label>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {# Formulaire #}
                            <label for="admin_product_form_imageFile_file">Modifier l'image</label>
                            <div class="text-danger">{{form_errors(form.imageFile)}}</div>
                            {{form_widget(form.imageFile, {'attr':{'class':'form-control mb-4'}})}}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="admin_product_form_description">Description</label>
                        <div class="text-danger">{{form_errors(form.description)}}</div>
                        {{form_widget(form.description, {"attr":{"class":"form-control"}}) }}        
                    </div>
                    <div class="mb-3">
                        <label for="admin_product_form_price">Prix €</label>
                        <div class="text-danger">{{form_errors(form.price)}}</div>
                        {{form_widget(form.price, {'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="mb-3 d-flex justify-content-center align-items-center">
                        <input formnovalidate type="submit" class="btn btn-dark shadow w-50" value="Modifier">
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>

   

{% endblock %}
