{% extends 'themes/base_admin.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block description %}Liste des Produits{% endblock %}

{% block keywords %}Liste, produits, admin{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block datatables %}
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#table').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.7/i18n/fr-FR.json',
                },
            });
        } );
    </script>
{% endblock %}

{% block main %}

    <h1 class="text-center my-3 display-5">Liste des Produits<hr></h1>

    {% include 'components/_alert.html.twig' %}

    <div class="d-flex justify-content-end align-items-center my-3">
        <a href="{{path('admin_product_create')}}" class="btn btn shadow" style="background-color: #C59B76"><i class="fa-solid fa-plus"></i> Nouveau Produit</a>
    </div>

    <div class="table-responsive">
        <table id="table" class="table table-hover text-center table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Créé le</th>
                    <th>Modifié le</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                 {% for produit in produits %} {# Cette ligne indique le début d'une boucle qui itère à travers chaque élément de la liste produits. À chaque itération, la variable produit contiendra un élément de la liste, et le contenu à l'intérieur de la boucle sera exécuté pour chaque élément de la liste. #}
                    <tr>
                        <td>{{ produit.id }}</td>
                        {# Affiche l'identifiant du produit #}

                        <td>
                            {% if produit.image %} {# Si l'attribut image du produit est défini et non vide, cette condition est évaluée comme vraie #}
                                <img src="{{ vich_uploader_asset(produit, 'imageFile') | imagine_filter('admin_product') }}" alt="{{ produit.name }}">
                            {% else %}
                                <span>---</span>
                            {% endif %}
                        </td>
                        {# Affiche l'image du produit s'il existe, sinon affiche '---' #}

                        <td>{{ produit.name }}</td>
                        {# Affiche le nom du produit #}

                        <td>{{ produit.category.name }}</td>
                        {# Affiche le nom de la catégorie du produit #}

                        <td>{{ produit.description }}</td>
                        {# Affiche la description du produit #}

                        <td>{{ produit.price }}€</td>
                        {# Affiche le prix du produit suivi du symbole '€' #}

                        <td>{{ produit.createdAt|format_datetime() }}</td>
                        {# Affiche la date de création du produit formatée #}

                        <td>{{ produit.updatedAt|format_datetime() }}</td>
                        {# Affiche la date de mise à jour du produit formatée #}

                        <td class="d-flex justify-content-evenly">
                            <a href="{{ path('admin_product_edit', {'id': produit.id}) }}"><i class="fa-solid fa-edit mx-2"></i></a>
                            {# Lien pour éditer le produit #}

                            <a onClick="event.preventDefault(); return confirm('Confirmer la suppression?') && document.querySelector('#delete_product_{{ produit.id }}_form').submit();" href="#"><i class="fa-solid fa-trash text-danger mx-2"></i></a>
                            {# Lien pour supprimer le produit, avec une confirmation JavaScript #}

                            <form id="delete_product_{{ produit.id }}_form" method="POST" action="{{ path('admin_product_delete', {'id': produit.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_product_'~ produit.id) }}">
                            </form>
                            {# Formulaire pour la suppression du produit #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
