{% extends 'themes/base_user.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block description %}Liste de Mes Commandes{% endblock %}

{% block keywords %}Commandes, liste{% endblock %}

{% block main %}

    <h1 class="text-center my-3 display-2">Mes Commandes<hr></h1>

    <div class="container my-5">

        {% include 'components/_alert.html.twig' %}
        
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for order in app.user.orders %}
                <div class="col">
                    <div class="card border-0 p-3 my-3">
                        <p><strong>Numéro de Commande:</strong> {{order.id}} <hr class="border border-secondary border-1 opacity-5 my-0"></p>
                        <p><strong>Qui récupère la commande :</strong> {{order.pickupFirstName}} {{order.pickupLastName}}<hr class="border border-secondary border-1 opacity-5 my-0"></p>
                        <p><strong>Email du Commanditaire :</strong> {{order.user.email}}<hr class="border border-secondary border-1 opacity-5 my-0"></p>
                        <p><strong>Statut de la Commande :</strong> {{order.status}}<hr class="border border-secondary border-1 opacity-5 my-0"></p>
                        <p><strong>Montant Total :</strong> {{order.totalAmount}} €<hr class="border border-secondary border-1 opacity-5 my-0"></p>
                        <p><strong>Commandé le :</strong> {{order.orderedAt|format_datetime()}}<hr class="border border-secondary border-1 opacity-5 my-0"></p>
                        <p><strong>A recupérer le :</strong> {{order.pickupDate|format_date()}} à {{order.pickupTime|format_time()}}<hr class="border border-secondary border-1 opacity-5 my-0"></p>
                        {% if order.status != "commande validée" %}
                            <div class="d-inline mx-auto">
                                <a href="{{ path('user_order_edit', {'id': order.id}) }}" class="btn btn-secondary">Modifier</a>
                                <form method="POST" action="{{ path('user_order_delete', {'id': order.id}) }}" class="d-inline"> 
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_order_' ~ order.id) }}">
                                    <input onClick="return confirm('Confirmer la suppression de cette commande?')" type="submit" class="m-2 btn btn-danger" value="Supprimer">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}