{% extends 'themes/base_user.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block description %}Tableau de bord{% endblock %}

{% block keywords %}Tableau-de-bord, admin{% endblock %}

{% block main %}

    <h1 class="text-center my-3 display-5">Espace Utilisateur</h1><hr>

    <p class="text-center fs-4" id="greeting">Bonjour {{ app.user.firstName }}!</p>

    <p class="text-center fs-4 d-none" id="user-name">{{ app.user.firstName }}</p>

    {# <!-- Section des commandes récentes -->
    <div class="container my-4">
        <h2 class="text-center my-3">Vos Commandes Récentes</h2>
        {% if orders is not empty %}
            <ul class="list-group">
                {% for order in orders %}
                    <li class="list-group-item">
                        <strong>Commande #{{ order.id }}</strong> - {{ order.date|date("d/m/Y") }} - {{ order.status }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center">Vous n'avez pas de commandes récentes.</p>
        {% endif %}
    </div> #}
   
{% endblock %} 
